@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-image: url('images/bg-header-desktop.png');
    background-size: cover;
    width: 100%;
    padding-bottom: 4rem;
}
.logo{
    display: flex;
    justify-content: center;
    padding-top: 9rem;
    padding-bottom: 2rem;
}

.logo img{
    width: 7%;
}
.header-center{
    display: flex;
    justify-content: center;
    align-self: center;
}
.header-history{
    padding-top: 1.6rem;
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 600;
    font-size: 34px;
    letter-spacing: 0.08rem;
}
.header-clip{
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 400;
    font-size: 18px;
    width: 44%;
    text-align: center;
    color: hsl(201, 11%, 66%);
    line-height: 2.6rem;
    padding-top: 0.6rem;
}
.header-button{
    margin-top: 3rem;
}
.button1{
    border: 0;
    color: #fff;
    background-color:  hsl(171, 66%, 44%);
    padding: 12px 35px;
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 400;
    border-radius: 30px;
    margin-right: 0.5rem;
    letter-spacing: 0.08rem;
}
.button2{
    border: 0;
    color: #fff;
    background-color:  hsl(233, 100%, 69%);
    padding: 12px 35px;
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 400;
    border-radius: 30px;
    margin-left: 0.5rem;
    letter-spacing: 0.08rem;
}

/* section1 */
#section1{
    margin-top: 8rem;
}
.s1-center{
    display: flex;
    justify-content: center;
}
.s1-heading{
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 600;
    font-size: 30px;
}
.s1-img img{
    
    margin-left: -5rem;
}
.s1-margin-top{
    margin-top: 7rem;
}
.s1-right{
    margin-top: 6.7rem;
    margin-left: 5rem;
    line-height: 3rem;
}
.s1-quick{
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color:  hsl(210, 10%, 33%);
}
.s1-easily{
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 400;
    width: 44%;
    color: hsl(201, 11%, 66%);
}

/* section2 */
#section2{
    margin-top: 12rem;
}
.s2-img{
    text-align: center;
    margin-top: 8rem;
}
.s2-img img{
    width: 54%;
}

/* section3 */

#section3{
    margin-bottom: 6rem;
}
.s3-margin-top{
    margin-top: 7rem;
}
.s3-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.s3-box-img{
    height: 7rem;
}
.s3-box-h1{
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color:  hsl(210, 10%, 33%);
    margin-bottom: 2rem;
}
.s3-box-h2{
    text-align: center;
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 400;
    width: 87%;
    color: hsl(201, 11%, 66%);
    line-height: 2.6rem;
    
}

/* section4 */
#section4{
    margin-top: 15rem;
    margin-bottom: 14rem;
}
.s4-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/* section5 */
#section5{
    margin-bottom: 10rem;
}

.s4-icons-width{
    width: 20%;
    text-align: center;
}

/* footer */

footer{
    background-color: #f5f6f8;
    padding-top: 7rem;
}
.footer-outer{
    display: flex;
    
}
.footer-columns{
    width: 20%;
    margin-left: 1.3rem;
}
.footer-columns ul{
    list-style: none;
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 400;
    color: hsl(210, 10%, 33%);
    font-size: 18px;
}
.footer-columns ul li:first-child{
    padding-bottom: 2rem;
}
.footer-icons{
    align-self: center;
}
.footer-icons span{
    padding-right: 2rem;
}
.footer-logo{
    width: 30%;
}
.attribution{
    padding: 4rem 0 2rem 0;
}
button {
    outline: none; 
}


@media (max-width: 1199px) {}
@media (max-width: 991px){}
@media (max-width: 767.98px){
    .s1-img img{
        margin-left: 0;
        max-width: 100%;
    }
}
@media (max-width: 575.98px){
    .logo {
        display: flex;
        justify-content: center;
        padding-top: 2rem;
        padding-bottom: 1rem;
    }
    .logo img{
        width: 18%;
    }
    .header-history {
        padding-top: 1.6rem;
        font-size: 19px;
        letter-spacing: 0.08rem;
        text-align: center;
    }
    .header-clip {
        font-size: 14px;
        width:100% ; 
        text-align: center;
        line-height: 2.6rem;
        padding-top: 0.6rem;
    }
    .header-button {
        margin-top: 3rem;
        text-align: center;
    }
    .button1 {
        margin-right: 0;
        margin-bottom: 1rem;
    }
    .button2 {
        margin-left: 0;
    }
    #section1 {
        margin-top: 0rem;
    }
    .s1-margin-top {
        margin-top: 4rem;
    }
    .s1-heading {
        font-size: 20px;
    }
    .s1-img img{
        margin-left: 0;
        max-width: 100%;
    }
    .s1-right {
        display: flex;
        margin-top: 3rem;
        margin-left: 0; 
        line-height: 3rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: center;
    }
    .s1-easily {
        width: 100%; 
        text-align: center;
    }
    #section2 {
        margin-top: 5rem;
    }
    .s2-img img {
        width: 100%;
    }
    .s2-img {
        margin-top: 5rem;
    }
    .s3-margin-top {
        margin-top: 3rem;
    }
    .s3-box {
        margin-top: 2rem;
    }
    .s3-box-img {
        height: 6rem;
    }
    #section4 {
        margin-top: 6rem;
        margin-bottom: 0;
    }
    .s4-icons{
        flex-direction: column;
    }
    .s4-icons-width {
        width: 100%;
        text-align: center;
        margin-bottom: 5rem;
    }
    #section5 {
        margin-bottom: 3rem;
    }
    footer {
        padding: 0 0 2rem 0;
    }
    .footer-columns {
        width: 100%;
        margin-left: 0; 
        margin-top: 2rem;
    }
    .footer-logo{
        width: 12%;
    }
    .footer-outer {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .footer-icons span {
        padding: 1rem;
    }


}
@media (max-width: 375px){

    .logo {
        display: flex;
        justify-content: center;
        padding-top: 2rem;
        padding-bottom: 1rem;
    }
    .logo img{
        width: 18%;
    }
    .header-history {
        padding-top: 1.6rem;
        font-size: 19px;
        letter-spacing: 0.08rem;
        text-align: center;
    }
    .header-clip {
        font-size: 14px;
        width:100% ; 
        text-align: center;
        line-height: 2.6rem;
        padding-top: 0.6rem;
    }
    .header-button {
        margin-top: 3rem;
        text-align: center;
    }
    .button1 {
        margin-right: 0;
        margin-bottom: 1rem;
    }
    .button2 {
        margin-left: 0;
    }
    .s1-heading {
        font-size: 20px;
    }
    .s1-img img{
        margin-left: 0;
        max-width: 100%;
    }



}














 
/* 
@media (min-width: 576px) {  }
@media (min-width: 768px) {  }
@media (min-width: 992px) {  }
@media (min-width: 1200px) { } */
