@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

body{
    background-color: hsl(233, 47%, 7%);
}
.wrapper{
    height: 96vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.container{
    background-color:  hsl(244, 38%, 16%);
    width: 71%;
    display: flex;
    flex-direction: row;
    color: azure;
}
.left-sec{
    padding: 3rem 5rem;
    width: 40%;
    border-radius: 20px 0 0 20px;
}
.left-sec h1{
    font-family: 'Lexend Deca', sans-serif;
    letter-spacing: 0.1rem;
}
.left-sec p{
    font-family: 'Inter', sans-serif;
    line-height: 1.4rem;
    color: hsla(0, 0%, 100%, 0.75);
}
.left-sec ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

/* .left-sec, .right-sec{
    width: 50%;
} */
.right-sec {
    width: 50%;
    background: url(./images/image-header-desktop.jpg) no-repeat center center/cover;
    height: 27rem;
    border-radius: 0 20px 20px 0;
    
}
.right-sec::after{
    content: " ";
    width: 100%;
    height: 100%;
    background-color: hsl(277, 64%, 61%);
    display: block;
    opacity: 0.5;
    border-radius: 0 20px 20px 0;
    
}
/* .right-sec img{
    opacity: 0.5;
}
.image {
    height: 100%;
    width: 100%;
    object-fit: cover;
} */
ul{
    margin-top: 4rem;
}
li{
    text-transform: uppercase;
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 0.8rem;
    line-height: 1.8rem;
}

li>span{
    display: block;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: hsl(0, 0%, 100%);
    font-size: 1.5rem;

}

/* .right-sec{
    background-image: url(images/image-header-desktop.jpg) ;
    height: 28rem;
    background-repeat: no-repeat;
    width: 50%;
} */





@media (max-width:850px){

    .wrapper {
        height: 100%;
        margin-top: 6rem;
    }
    .container {
        width: 90%;
        flex-direction: column-reverse;
    }
    .left-sec {
        padding: 0; 
        width: 100%;
        border-radius: 0;
       
        text-align: center;
    }
    .left-sec h1 {
        letter-spacing: 0.1rem;
        padding: 3rem 1.8rem;
        font-size: 2.5rem;
    }
    .left-sec p {
        line-height: 2.4rem;
        padding: 0 2rem;
        font-size: 1.6rem;
    }
    .left-sec ul {
        flex-direction: column;
    }
    li {
        font-size: 1.4rem;
        line-height: 2.8rem;
        padding: 1rem 0;
    }
    li>span{
        font-size: 2.4rem;
    }
    .right-sec {
        background: url(./images/image-header-mobile.jpg) no-repeat center center/cover;
        width: 100%;
        border-radius: 0;
    }


    
}
