@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');


:root{
    --cyan : hsl(179, 62%, 43%);
    --bright-yellow: hsl(71, 73%, 54%);
    --light-gray: hsl(204, 43%, 93%);
    --grayish-blue: hsl(218, 22%, 67%);
}

*{
    box-sizing: border-box;
  
}
body{
    
    font-family: 'Karla', sans-serif;
    background-color:  hsl(204, 43%, 93%);
}
.container{
    margin: 10% auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
    max-width: 45%;
    background-color: #fff;
    box-shadow: 2px 14px 10px #f0f0f0;
    
}


/* top-section */

.top-section{
    padding: 20px 0 20px 40px;

}
.top-section h2{
    color: var(--cyan);
    font-weight: 700;
}
.top-section h3{
    color: var(--bright-yellow);
}
.top-section p{
    color: var(--grayish-blue);
    line-height: 1.8rem;
}

/* bottom-section */
.bottom-section{
    
    color: var( --light-gray);
}
.bottom-section article{
    width: 50%;
    float: left;
    background-color: hsl(179, 62%, 43%);
    
}
.bottom-section article:last-child {
    background-color: #4abebd;
    padding: 20px 0 20px 40px;
    line-height: 1.5rem;
    letter-spacing: 0.02rem;
}

.bottom-section .left-article {
    padding: 20px 0 20px 40px;
}
.bottom-section .left-article p strong{
    font-size: 36px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 0 !important;
}
.bottom-section .left-article p span{
    vertical-align: super;
    padding-left: 10px;
    margin-bottom: 0 !important;
}
.bottom-section-p1{
    margin: 0 !important;
}
.bottom-section-p2{
    margin-top: 10px !important;
}
button{
    margin-top: 30px;
    background-color: var(--bright-yellow);
    /* margin: 34px 0 23px 0; */
    min-width: 240px;
    height: 50px;
    border: none;
    padding: 20px;
    color: #fff;
    border-radius: 6px;
    text-align: center;
    font-size: 1rem;
    padding: 5px;
}
/* .left-article{
    max-width: 50%;
    float: left;
}
.right-article{
    max-width: 50%;
    float: right;
} */

footer{
    text-align: center;
}


@media (max-width:500px){

    .top-section{
        padding: 24px ;
       
    }
    .bottom-section .left-article {
        padding: 24px;
    }
    .bottom-section article:last-child {
        padding: 24px;
    }
    
    .container{
        max-width: 85%;
    }
    .bottom-section article{
        width: 100%;
        float: none;
        
    }

}
