@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
header{
    background:#EDFBFE url("images/bg-hero-desktop.svg") no-repeat;
    background-size: cover;
    margin-bottom: 5rem;
}
nav ul{
    width: 85%;
    padding: 3rem 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav ul .nav-list2{
    background-color: #fff;
    padding: 12px 48px;
    border-radius: 25px;
    cursor: pointer;
    transition:all 0.5s linear;
    border: 1px solid transparent;
    box-shadow: 1px 1px 6px #d0e5ef;
}
nav ul .nav-list2:hover{
background-color: #fe52c0;
color: #fff;
}
.header-part2{
    display: flex;
    flex-direction: row;
    width: 85%;
    margin: 1rem auto;
    margin-top: 10px;
    padding-bottom: 5rem;
}

section .header-article1 {
    padding-right: 20px;
    width: 50%;
    align-self: center;
}
section .header-article1 h1{
    font-size: 44px;
    width: 80%;
}
section .header-article1 p{
    padding-top: 1.75rem;
    font-size: 1.25rem;
}
section .header-article1 button{
    padding: 0.88rem 4rem;
    background: #fe52c0;
    border: none;
    color: #fff;
    border-radius: 24px;
    margin-top: 1.75rem;
    cursor: pointer;
    border: 1px solid transparent;
    box-shadow: 1px 1px 4px #fe52c0;
    transition:all 0.5s linear;
}
section .header-article1 button:hover{
background: #fff;
color:#fe52c0;
border: 1px solid #fe52c0;
}
section .header-article2{
    width:50%;
}
.header-part2 h1{
    font-size: 1.88rem;;
}

.header-part2 .header-article2 img{
    width: 100%;
}
main section{
    width: 83%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

main section .main-1{
    box-shadow: 0 0 7px 4px #f8f8f8;
    /* padding: 40px; */
    border-radius: 6px;
    margin-bottom: 38px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main section .main-1 .main-left{
    width: 50%;
    align-self: center;
}

main section .main-1 .main-right{
    width: 50%;
    padding: 2rem;
    justify-content: center;
}
.main-right img{
    width: 76%;
}
.main-left1{
    width: 50%;
    padding: 2rem;
    justify-content: center; 
}
.main-right1{
    width: 50%;
    align-self: center;
}
.main-left1 img{
    width: 76%;
}







@media (max-width:500px){

    nav ul .nav-list1 img{
        width:72%;
    }
    nav ul .nav-list2{
        width:72%;
        padding: 8px 28px;
        
    }

}